<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1070843687822-icfev9aka43q4421idnjpca1rl1ns1rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070843687822-icfev9aka43q4421idnjpca1rl1ns1rc</string>
	<key>API_KEY</key>
	<string>AIzaSyCNhMtG4p_1sGzaxgPFW9YUIK-PkyqyyhM</string>
	<key>GCM_SENDER_ID</key>
	<string>1070843687822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a00940442.chai.leon.Chai-Leon-DDD</string>
	<key>PROJECT_ID</key>
	<string>ios-final-project-d1612</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-final-project-d1612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070843687822:ios:b8b519d284c64099</string>
	<key>DATABASE_URL</key>
	<string>https://ios-final-project-d1612.firebaseio.com</string>
</dict>
</plist>